.tech-item {
  padding: 10px;
  border-radius: 5px;
  background-color: #f8f9fa;
  margin-bottom: 10px;
}

.card-header h4 {
  margin: 0;
  color: #495057;
}

.list-group-item {
  border: 1px solid #dee2e6;
  margin-bottom: 2px;
}
